.App {

}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.background {
  background-image: url(https://i.postimg.cc/ZK4sY6DP/singapore-1990959-1920.jpg);
  width: 100%;
  height: 40vh;
  position: relative;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

a {
  font-size: 40px;
  line-height: 10vh;
  width: 35vw;
  cursor: default;
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  opacity: 1;

}

a:hover {
  color: white;
  transition: 1s;
  background-color: rgba(113, 128, 147,0.5)
}

a:before {
  content: '';
  position: absolute;
  top: - 2px;
  left: -2px;
  width: 0;
  background: transparent;
  border: 2px solid transparent;
}

a:hover:before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #78e08f;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #78e08f;
    border-right-color: #78e08f;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #78e08f;
    border-right-color: #78e08f;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

a:after {
  content: '';
  position: absolute;
  top: - 2px;
  left: -2px;
  width: 0;
  background: transparent;
  border: 2px solid transparent;

}

a:hover:after {
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #78e08f;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #78e08f;
    border-left-color: #78e08f;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #78e08f;
    border-left-color: #78e08f;
  }
}
